header {
    background-color: hsl(55, 100%, 50%);
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    font-size: 125%;
  }
  
  nav ul li {
    display: inline;
    margin-right: 30px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  