/* Stile für den Workout Planner */
.workout-planner {
  display: flex;
  justify-content: center;
  /* Zentriere die Elemente horizontal */
  gap: 50px;
  /* Abstand zwischen den Elementen */

  .left-panel,
  .right-panel {
    flex: 1;
    /* Alle Panels sollen den verfügbaren Platz gleichmäßig aufteilen */
  }

  /* Stile für den Filter */
  .filters {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    width: auto;
    /* Automatische Breite */
    max-width: 250px;
    /* Maximale Breite */
  }

  /* Stile für die Übungen */
  .exercise {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    max-width: 400px;

    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 15px;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
      margin-bottom: 15px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  /* Stile für das aktuelle Workout */
  .current-workout {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 18px;
      margin-bottom: 10px;

      button {
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
}